<div >
    <div id="separacao" style="">
        <div id="musica" >

            <div id="musicaartista">
                <h2 id="nomeMusica">{{musica.nome}}</h2>
                <h4 id="nomeArtista">{{musica.artista.nome}}</h4>
            </div>


            <div id="letra">
                <p>{{musica.letraDaMusica}}</p>
                <p>{{musica.traducao}}</p>
            </div>
        </div>


    </div>

    <div id="player" >
        
        <youtube-player [videoId]="musica.linkYoutube" [height]="180" [width]="325"> > </youtube-player>
    </div>
</div>